@inherits ConfirmDialogComponent
<div class="modal" style="display:block">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">@HeadingText</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                @BodyText
            </div>
            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn" data-dismiss="modal" @onclick="@(() => { OnCancel.Invoke(); })">@CancelText</button>
                <button type="button" class="btn btn-danger" @onclick="@(() => { OnConfirm.Invoke();})">@ConfirmText</button>
            </div>

        </div>
    </div>
</div>
