@page "/news"
@inherits NewsIndexComponent
@using MCB.Memphis.Web.Components.Layout

@if (newsList == null)
{
    <h1>Loading...</h1>
}
else
{
    <div class="content-top stickable">

        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <!-- if editing a news then page title is news heading -->
                    <div class="page-title-box hide-on-sticky">
                        <h1 class="page-title">News list</h1>
                    </div>

                    <!-- block: page actions -->
                    <div class="page-actions page-actions--top">
                        <div class="row">
                            <div class="col col-crud">
                                <!-- redirect to create-new page -->
                                <!-- alert save current news? -->
                                <button type="button" class="btn btn-primary btn-icon btn-fn-addnew" @onclick="@(() => { _uriHelper.NavigateTo("/news/create"); })"><i class="fe-plus-circle"></i><span>New</span></button>
                            </div>
                        </div>
                    </div>
                    <!-- block end: page actions -->
                </div>
            </div>
        </div>

    </div>

    <div class="content-main">

        <!-- Start Content-->
        <div class="container-fluid">

            <!-- This wrapper should not be rendered. Handled by blazor -->
            <div data-js-toggle="tab-news-general">
                <div class="row">
                    <div class="col-lg-6">
                        <table class="table">
                            <thead class="thead-light">
                                <tr>
                                    <th class="col-name">Start Date</th>
                                    <th class="col-size">Title</th>
                                    <th class="col-action">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in newsList)
                                {

                                    <tr class="row-data">
                                        <td class="col-name">@item.NewsStartDate</td>
                                        <td class="col-name"><a href="/news/@item.NewsGuid">@item.NewsHeadline</a></td>
                                        <td class="col-action">
                                            <div class="row-actions">
                                                <a href="/news/@item.NewsGuid" aria-label="Edit" class="btn btn-edit" role="button"><i class="fe-edit-2"></i></a>
                                                <button class="btn btn-delete" aria-label="Delete"><i class="fe-trash" @onclick="@(() => { ShowConfirmDialog(item.NewsGuid); })"></i></button>
                                            </div>
                                        </td>
                                    </tr>
                                }


                            </tbody>
                        </table>
                    </div>

                    <div class="col-lg-6">

                    </div>
                </div>
            </div>
        </div> <!-- container -->

    </div> <!-- content -->
}

@if (ConfirmDialogVisible && ToDeleteNewsGuid > 0)
{
    <div class="modal" style="display:block">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Confirm?</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    Do you want to delete?
                </div>
                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn" data-dismiss="modal" @onclick="@(() => { HideConfirmDialog(); })">Cancel</button>
                    <button type="button" class="btn btn-danger" @onclick="@(() => { DeleteNews(ToDeleteNewsGuid); })">Delete</button>
                </div>

            </div>
        </div>
    </div>

}